
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Display

.block
  display: block

.inline
  display: inline

.flex
  display: flex

// Float

.clearfix
  +clearfix

.float-left
  float: left

.float-right
  float: right

// Overlay

.overlay
  +overlay

// Size

.fullwidth
  width: 100%

// Text

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

// Visibility

.hidden-mobile
  +media(mobile)
    display: none !important

.hidden-tablet
  +media(tablet)
    display: none !important

.hidden-touch
  +media(touch)
    display: none !important

.hidden-desktop
  +media(desktop)
    display: none !important

// Other

.disabled
  pointer-events: none

.m-0
  margin: 0 !important
.mb-0
  margin-bottom: 0 !important
.pb-0
  padding-bottom: 0 !important
