
// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote
  margin: 0
  padding: 1rem 0 .5rem 1.75rem
  color: $gray-light
  font-style: italic
  border-left: .5rem solid $gray-lightest
