// Hero
// ----

.hero-video
  +overlay
  overflow: hidden
  &.is-transparent
    opacity: .3
  video
    left: 50%
    min-height: 100%
    min-width: 100%
    position: absolute
    top: 50%
    transform: translate3d(-50%, -50%, 0)
  +media(mobile)
    display: none

.hero-content
  padding: 4rem 2rem
  img
    height: 15rem
    margin-bottom: 2rem
  +media(desktop)
    padding: 6rem 0

.hero-buttons
  margin-top: 2rem
  +media(mobile)
    .button
      display: block
      &:not(:last-child)
        margin-bottom: 1rem
  +media(tablet)
    display: flex
    justify-content: center
    .button:not(:last-child)
      margin-right: 2rem

.hero
  background: $faded
  text-align: center
  .header
    background: none
    box-shadow: none
    img
      height: 2rem
    +media(desktop)
      .header-left
        .header-item:first-child
          padding-left: 0;
      .header-right
        .header-item:last-child
          padding-right: 0;
  .header .container
    padding: 0
    box-shadow: 0 .1rem 0 transparentize($gray, .8)
  .tabs
    a
      border: 0
    ul
      margin-bottom: 0
      border-bottom: 0
  .subtitle
    letter-spacing: normal
  &.hero-alt
    background: $gray-dark
    color: $initial
    .title
      color: $initial
      a,
      strong
        color: inherit
    .subtitle
      color: $initial
    .header-icon,
    .header-item > a:not(.button),
    .header-item > .dropdown > a
      color: transparentize($initial, 0.2)
      &:hover,
      &.is-active
        color: $initial
    .header-tab
      color: $initial
      &:hover
        border-color: transparentize($initial, 0.5)
      &.active
        border-color: transparentize($initial, 0.3)
    .tabs
      a
        color: $initial
        opacity: .5
        &:hover
          opacity: 1
      li.active a
        opacity: 1
      &.boxed,
      &.toggle
        a
          color: $initial
          &:hover
            background: rgba($black, .1)
        li.active a
          &,
          &:hover
            background: $initial
            color: $faded
    +media(mobile)
      .header-toggle
        span
          background: $initial
        &:hover
          background: rgba($black, .1)
        &.is-active
          span
            background: $initial
      .header-menu
        background: $faded
        .header-item
          border-top-color: $initial
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.#{$name}
      background: $color
      color: $color-invert
      .title
        color: $color-invert
        a,
        strong
          color: inherit
      .subtitle
        color: $color-invert
      .header .container
        box-shadow: 0 1px 0 transparentize($color-invert, 0.8)
      .header-icon,
      .header-item > a:not(.button),
      .header-item > .dropdown > a
        color: transparentize($color-invert, 0.2)
        &:hover,
        &.is-active
          color: $color-invert
      .tabs
        a
          color: $color-invert
          opacity: .5
          &:hover
            opacity: 1
        li.active a
          opacity: 1
        &.boxed,
        &.toggle
          a
            color: $color-invert
            &:hover
              background: rgba($black, .1)
          li.active a
            &,
            &:hover
              background: $color-invert
              color: $color
      &.gradient
        $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%)
        $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%)
        background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%)
      +media(mobile)
        .header-toggle
          span
            background: $color-invert
          &:hover
            background: rgba($black, .1)
          &.is-active
            span
              background: $color-invert
        .header-menu
          background: $color
          .header-item
            border-top-color: $color-invert
  &.hero-fh,
  &.hero-lg
    +media(tablet)
      .tabs
        font-size: 1.6rem
  &.hero-md // Medium sized hero
    +media(tablet)
      .hero-content
        padding: 12rem 2rem
    +media(desktop)
      .hero-content
        padding: 12rem 0
  &.hero-lg // Large size hero
    .tabs
      a
        padding: 1rem 1.5rem
    +media(tablet)
      .hero-content
        padding: 24rem 2rem
    +media(desktop)
      .hero-content
        padding: 24rem 0
  &.hero-fh // Full height hero
    align-items: stretch
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh
    .tabs
      a
        padding: 1.5rem 2rem
    .hero-content
      display: flex
      flex: 1
      flex-direction: column
      justify-content: center
